# Discord Application Client ID
DISCORD_CLIENT_ID=

# Giphy API Key for Champion GIFs
GIPHY_API_KEY=

# Path to your League of Legends lockfile
# Leave empty to try automatic detection
LEAGUE_LOCKFILE_PATH=

# Optional: Links to your profiles (e.g u.gg or MetaTFT; will appear as buttons in Discord)
# Leave empty to disable the buttons
PROFILE_LINK_LOL=
PROFILE_LINK_TFT=

# Poll interval in seconds
POLL_INTERVAL=5
